.bg-color {
  background-image: linear-gradient(45deg, #19D3AE, #0FCFEC);
}

.secondary-bgColor {
  background-image: linear-gradient(45deg, #3A4256, #6c9e93);
}

.text-color {
  background: -webkit-linear-gradient(45deg, #19D3AE, #0FCFEC);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.secondary-text-color {
  color: #3A4256;
}

